<div class="container my-5">
  news

  <!--  <div class="row gy-5">-->
  <!--    <div class="col-12 col-md-6 col-lg-3" *ngFor="let n of news;">-->
  <!--      <ngx-twitter-tweet-->
  <!--        [tweetID]="n.id"-->
  <!--        [options]="{-->
  <!--            align: 'center',-->
  <!--            conversation: 'none'-->
  <!--          }"-->
  <!--      >-->
  <!--        <mat-spinner color="primary"></mat-spinner>-->
  <!--      </ngx-twitter-tweet>-->
  <!--    </div>-->
  <!--  </div>-->

  <ngx-masonry [options]="masonryOptions" [updateLayout]="true">
    <div ngxMasonryItem class="masonry-item" *ngFor="let n of news;">
      <ngx-twitter-tweet
        [tweetID]="n.id"
        [options]="{
              align: 'center',
              conversation: 'none'
            }"
      >
        <mat-spinner color="primary"></mat-spinner>
      </ngx-twitter-tweet>
    </div>
  </ngx-masonry>
</div>
