$primary-palette: (
  50: #fbe1e0,
  100: #f6b4b3,
  200: #f08380,
  300: #ea514d,
  400: #e62b26,
  500: #e10600,
  600: #dd0500,
  700: #d90400,
  800: #d50300,
  900: #cd0200,
  A100: #fff5f5,
  A200: #ffc2c2,
  A400: #ff8f8f,
  A700: #ff7575,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$info-palette: (
  50: #e3f0f4,
  100: #badae4,
  200: #8cc2d2,
  300: #5da9c0,
  400: #3b96b3,
  500: #1884a5,
  600: #157c9d,
  700: #117193,
  800: #0e678a,
  900: #085479,
  A100: #a8dfff,
  A200: #75cdff,
  A400: #42baff,
  A700: #29b1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$error-palette: (
  50: #fffae0,
  100: #fff2b3,
  200: #ffe980,
  300: #ffe04d,
  400: #ffd926,
  500: #ffd200,
  600: #ffcd00,
  700: #ffc700,
  800: #ffc100,
  900: #ffb600,
  A100: #ffffff,
  A200: #fffbf2,
  A400: #ffeabf,
  A700: #ffe2a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
