// Colors
$primary: #e10600;
$dark-blue: #003049;
$light-gray: #f5f5f5;

// Fonts
$f1-font: Formula1;
$poppins: Poppins;

// Others
$base-shadow: 0 2px 11px rgba(0, 0, 0, 0.2);
$bounce-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275)
