$times: 12;

%move-driver-styles {
  transform-origin: top center;
}

@mixin move-x-driver-list {
  @for $i from 1 through $times {
    .move-driver-bg-#{$i}-s {
      @extend %move-driver-styles;
      animation: move-driver $i + s linear infinite alternate;
    }
    .move-driver-bg-reverse-#{$i}-s {
      @extend %move-driver-styles;
      animation: move-driver-reverse $i + s linear infinite alternate;
    }
  }
}

@include move-x-driver-list;

@keyframes move-driver {
  0% {
    transform: translate(-37%, 100%);
  }
  100% {
    transform: translate(37%, -100%);
  }
}

@keyframes move-driver-reverse {
  0% {
    transform: translate(37%, -100%);
  }
  100% {
    transform: translate(-37%, 100%);
  }
}
