@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.outside {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 75%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }

  &.champion {
    .card-container {
      .top-section {
        .top-section-bg {
          background: $primary !important;
          background: linear-gradient(
            to right bottom,
            rgba(#ff524d, 1) 0%,
            rgba($primary, 1) 100%
          ) !important;
        }
      }
    }
  }

  * {
    transition: all 0.2s $bounce-curve;
  }

  &:hover {
    .card-container .top-section-container .top-section .driver-image {
      right: -55px;
    }
  }

  .card-container {
    @include card;
    min-height: unset !important;
    color: white;

    .top-section-container {
      filter: drop-shadow($base-shadow);

      .top-section {
        clip-path: polygon(0 -200%, 100% -200%, 100% 100%, 0 85%);

        .top-section-bg {
          width: 100%;
          min-height: 150px;
          border-radius: 10px 10px 0 0;
          background: $dark-blue;
          background: linear-gradient(
            to right bottom,
            rgba(12, 78, 112, 1) 0%,
            rgba($dark-blue, 1) 100%
          );
          color: white;
          font-family: $f1-font;

          .driver-given-name,
          .driver-family-name {
            max-width: 100%;

            @include media-breakpoint-up(sm) {
              max-width: 65%;
            }
          }

          .driver-given-name {
            font-weight: bold;
            font-size: 25px;
            line-height: 20px;
            position: relative;
            z-index: 2;
          }

          .driver-family-name {
            font-weight: 900;
            font-size: 35px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;
            position: relative;
            z-index: 2;
            letter-spacing: 2px;
          }
        }

        .driver-image {
          width: 50%;
          position: absolute;
          right: -35px;
          bottom: 0;
          z-index: 2;
          pointer-events: none;
        }

        .position {
          position: absolute;
          bottom: 0;
          right: 27%;
          font-weight: 900;
          font-size: 120px;
          line-height: 95px;
          z-index: 1;
          opacity: 0.6;
          font-family: $f1-font;
        }
      }
    }

    .label {
      color: black;
      font-weight: bold;
      font-size: 20px;
    }

    .value {
      color: black;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      letter-spacing: 2px;
      font-family: $f1-font;
      font-size: 40px;
      font-weight: 900;
    }

    .team-logo {
      width: 40%;
      max-height: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 6;
      filter: invert(100%);
      opacity: 0.15;
      pointer-events: none;
    }
  }
}
