$times: 12;

%move-card-styles {
  transform-origin: top center;
}

@mixin move-x-card-list {
  @for $i from 1 through $times {
    .move-card-#{$i}-s {
      @extend %move-card-styles;
      animation: move-card $i + s linear infinite alternate;
    }
    .move-card-reverse-#{$i}-s {
      @extend %move-card-styles;
      animation: move-card-reverse $i + s linear infinite alternate;
    }
  }
}

@include move-x-card-list;

@keyframes move-card {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes move-card-reverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
