// Formula-1
@font-face {
  font-family: "Formula1";
  font-weight: 900;
  src: local("Formula1"), url("Formula1-Black.ttf") format("woff2"),
    url("Formula1-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Formula1";
  font-weight: bold;
  src: local("Formula1"), url("Formula1-Bold.ttf") format("woff2"),
    url("Formula1-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Formula1";
  font-weight: normal;
  src: local("Formula1"), url("Formula1-Regular.ttf") format("woff2"),
    url("Formula1-Regular.ttf") format("ttf");
}

// Poppins
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: local("Poppins"), url("Poppins-Thin.ttf") format("woff2"),
    url("Poppins-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: local("Poppins"), url("Poppins-ExtraLight.ttf") format("woff2"),
    url("Poppins-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: local("Poppins"), url("Poppins-Light.ttf") format("woff2"),
    url("Poppins-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"), url("Poppins-Regular.ttf") format("woff2"),
    url("Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url("Poppins-Medium.ttf") format("woff2"),
    url("Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url("Poppins-SemiBold.ttf") format("woff2"),
    url("Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins"), url("Poppins-Bold.ttf") format("woff2"),
    url("Poppins-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: local("Poppins"), url("Poppins-ExtraBold.ttf") format("woff2"),
    url("Poppins-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins"), url("Poppins-Black.ttf") format("woff2"),
    url("Poppins-Black.ttf") format("ttf");
}
