@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "src/assets/scss/driver-background-svg-lines-animations";
@import "src/assets/scss/variables";

svg {
  margin-left: -49px;
  width: 120vw;
  position: absolute;
  bottom: 0;

  @include media-breakpoint-up(sm) {
    width: 112vw;
  }

  @include media-breakpoint-up(md) {
    width: 109.5vw;
  }

  .top-bar-fix {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.fill-dark-gray {
  fill: #262626;
}

.fill-light-gray {
  fill: #626262;
}

.fill-light-gray-2 {
  fill: #f2f2f2;
}

.text-style {
  font-size: 250px;
  font-family: $f1-font;
  font-weight: 700;
}

.fill-white {
  fill: #fff;
}

.clip-to-main {
  clip-path: url(#main-body);
  overflow: hidden;
}
