<div class="container telemetry" #parent>
  <div class="inner position-relative">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="text-center text-md-start">
          <b>Check out the telemetry data from the cars.</b>
          <br />
          See there speed, how much throttle they have applied and many more
          information about the cars.
        </p>
      </div>
    </div>

    <div class="car-parallax d-none d-md-block">
      <img
        class="parallax-car"
        src="assets/images/aston_martin_top.png"
        alt="Aston Martin"
      />
    </div>

    <img
      src="assets/images/cars/aston_martin.png"
      class="d-block d-md-none mobile-image mx-auto mt-5"
      alt="Aston Martin"
      [style]="{ transform: 'translateX(' + mobileCarOffset + '%)' }"
      #mobileCar
    />

    <img
      class="telemetry-dots"
      src="assets/images/dots-pattern.svg"
      alt="Dots"
    />
  </div>
</div>
