<div class="standings">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="text-center text-md-start">
          Be up to date about the current drivers and constructors championship
          standings.
        </p>

        <div
          class="d-flex align-items-start justify-content-center justify-content-lg-start"
        >
          <a routerLink="/standings" class="primary-button">
            Current standings
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div id="container" #parallaxImage>
          <div id="car-img-wrapper" class="layer" data-speed="1">
            <img id="car-img" src="assets/images/cars/ferrari.png" alt="Car" />
            <div id="car-shadow" class=""></div>
          </div>
          <div id="circle-wrapper-inner">
            <div id="circle-inner" class="layer" data-speed="1.75"></div>
          </div>
          <div id="circle-wrapper-outer">
            <div id="circle-outer" class="layer" data-speed="2"></div>
          </div>
        </div>
        <!--        <div id="image-container">-->
        <!--          <div id="car-img-wrapper" class="layer" data-speed="1">-->
        <!--            <img-->
        <!--              id="car-img"-->
        <!--              src="assets/images/cars/ferrari.png"-->
        <!--              alt="Car"-->
        <!--            >-->
        <!--            <div id="car-shadow" class=""></div>-->
        <!--          </div>-->
        <!--          <div id="circle-wrapper-inner">-->
        <!--            <div id="circle-inner" class="layer" data-speed="1.75"></div>-->
        <!--          </div>-->
        <!--          <div id="circle-wrapper-outer">-->
        <!--            <div id="circle-outer" class="layer" data-speed="2"></div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
