<div *ngIf="!isLoading">
  <div
    class="text-center no-driver-text"
    *ngIf="lapTelemetry.length === 0; else charts"
  >
    Select a driver to show the telemetry
  </div>

  <ng-template #charts>
    <!--  SPEED CHART  -->
    <apx-chart
      [series]="speedChartOptions.series"
      [chart]="speedChartOptions.chart"
      [xaxis]="speedChartOptions.xaxis"
      [yaxis]="speedChartOptions.yaxis"
      [plotOptions]="speedChartOptions.plotOptions"
      [stroke]="speedChartOptions.stroke"
      [legend]="speedChartOptions.legend"
      [dataLabels]="speedChartOptions.dataLabels"
      [tooltip]="speedChartOptions.tooltip"
      [colors]="speedChartOptions.colors"
    ></apx-chart>

    <!--  THROTTLE CHART  -->
    <apx-chart
      [series]="throttleChartOptions.series"
      [chart]="throttleChartOptions.chart"
      [xaxis]="throttleChartOptions.xaxis"
      [yaxis]="throttleChartOptions.yaxis"
      [plotOptions]="throttleChartOptions.plotOptions"
      [stroke]="throttleChartOptions.stroke"
      [legend]="throttleChartOptions.legend"
      [dataLabels]="throttleChartOptions.dataLabels"
      [tooltip]="throttleChartOptions.tooltip"
      [colors]="throttleChartOptions.colors"
    ></apx-chart>

    <!--  BRAKE CHART  -->
    <apx-chart
      [series]="brakeChartOptions.series"
      [chart]="brakeChartOptions.chart"
      [xaxis]="brakeChartOptions.xaxis"
      [yaxis]="brakeChartOptions.yaxis"
      [plotOptions]="brakeChartOptions.plotOptions"
      [stroke]="brakeChartOptions.stroke"
      [legend]="brakeChartOptions.legend"
      [dataLabels]="brakeChartOptions.dataLabels"
      [tooltip]="brakeChartOptions.tooltip"
      [colors]="brakeChartOptions.colors"
    ></apx-chart>

    <!--  RPM CHART  -->
    <apx-chart
      [series]="rpmChartOptions.series"
      [chart]="rpmChartOptions.chart"
      [xaxis]="rpmChartOptions.xaxis"
      [yaxis]="rpmChartOptions.yaxis"
      [plotOptions]="rpmChartOptions.plotOptions"
      [stroke]="rpmChartOptions.stroke"
      [legend]="rpmChartOptions.legend"
      [dataLabels]="rpmChartOptions.dataLabels"
      [tooltip]="rpmChartOptions.tooltip"
      [colors]="rpmChartOptions.colors"
    ></apx-chart>

    <!--  GEAR CHART  -->
    <apx-chart
      [series]="gearChartOptions.series"
      [chart]="gearChartOptions.chart"
      [xaxis]="gearChartOptions.xaxis"
      [yaxis]="gearChartOptions.yaxis"
      [plotOptions]="gearChartOptions.plotOptions"
      [stroke]="gearChartOptions.stroke"
      [legend]="gearChartOptions.legend"
      [dataLabels]="gearChartOptions.dataLabels"
      [tooltip]="gearChartOptions.tooltip"
      [colors]="gearChartOptions.colors"
    ></apx-chart>

    <!--  DRS CHART  -->
    <apx-chart
      [series]="drsChartOptions.series"
      [chart]="drsChartOptions.chart"
      [xaxis]="drsChartOptions.xaxis"
      [yaxis]="drsChartOptions.yaxis"
      [plotOptions]="drsChartOptions.plotOptions"
      [stroke]="drsChartOptions.stroke"
      [legend]="drsChartOptions.legend"
      [dataLabels]="drsChartOptions.dataLabels"
      [tooltip]="drsChartOptions.tooltip"
      [colors]="drsChartOptions.colors"
    ></apx-chart>
  </ng-template>
</div>
