<div class="container pt-5 circuit-infos">
  <!--  HEADER  -->
  <div
    class="d-flex flex-column flex-sm-row align-items-center text-center text-sm-start"
  >
    <div class="flag">
      <span class="flag-icon" [ngClass]="'flag-icon-' + countryCode"></span>
    </div>
    <div class="ms-3">
      <div class="gp-name">{{ weekend.raceName }}</div>
      <div class="circuit-name mt-n2">{{ weekend.circuit.circuitName }}</div>
    </div>
  </div>

  <!--  INFOS  -->
  <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-8">
      <img
        [src]="
          'assets/images/circuit-layout-detailed/' +
          weekend.circuit.circuitId +
          '.png'
        "
        [alt]="weekend.circuit.circuitName"
        class="circuit-detailed-image"
      />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <!--      CIRCUIT INFO     -->
      <div class="row" *ngIf="weekend.circuit.details">
        <div class="col-12 col-sm-6">
          <div class="gp-info-item text-center text-sm-start">
            <div class="gp-info-item-title">First<br />Grand Prix</div>
            <div class="gp-info-item-value">
              {{ weekend.circuit.details.first_gp }}
            </div>
          </div>

          <div class="gp-info-item text-center text-sm-start">
            <div class="gp-info-item-title">Circuit<br />Length</div>
            <div class="gp-info-item-value">
              {{ weekend.circuit.details.length }} km
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="gp-info-item text-center text-sm-start">
            <div class="gp-info-item-title">Number Of<br />Laps</div>
            <div class="gp-info-item-value">
              {{ weekend.circuit.details.number_of_laps }}
            </div>
          </div>

          <div class="gp-info-item text-center text-sm-start">
            <div class="gp-info-item-title">Race<br />Distance</div>
            <div class="gp-info-item-value">
              {{ weekend.circuit.details.race_distance.toFixed(1) }} km
            </div>
          </div>
        </div>
      </div>

      <!--      SECTOR TIMES     -->
      <div class="d-none d-lg-block">
        <div class="mb-4">
          <app-sector-time
            [isLoading]="isLoading"
            [sectorNumber]="1"
            [sectorTime]="sectorTimes?.sector1"
          ></app-sector-time>
        </div>
        <div class="mb-4">
          <app-sector-time
            [isLoading]="isLoading"
            [sectorNumber]="2"
            [sectorTime]="sectorTimes?.sector2"
          ></app-sector-time>
        </div>
        <div class="mb-4">
          <app-sector-time
            [isLoading]="isLoading"
            [sectorNumber]="3"
            [sectorTime]="sectorTimes?.sector3"
          ></app-sector-time>
        </div>
      </div>
    </div>
  </div>

  <!--      SECTOR TIMES     -->
  <div class="d-lg-none row justify-content-between gy-4">
    <div class="col-12 col-sm-4">
      <app-sector-time
        [isLoading]="isLoading"
        [sectorNumber]="1"
        [sectorTime]="sectorTimes?.sector1"
      ></app-sector-time>
    </div>
    <div class="col-12 col-sm-4">
      <app-sector-time
        [isLoading]="isLoading"
        [sectorNumber]="2"
        [sectorTime]="sectorTimes?.sector2"
      ></app-sector-time>
    </div>
    <div class="col-12 col-sm-4">
      <app-sector-time
        [isLoading]="isLoading"
        [sectorNumber]="3"
        [sectorTime]="sectorTimes?.sector3"
      ></app-sector-time>
    </div>
  </div>

  <div class="mt-5" *ngIf="weekend.circuit.details">
    <app-geo-map
      [geojsonFileName]="weekend.circuit.details.gjson_map"
    ></app-geo-map>
  </div>
</div>
