@import "src/assets/scss/flag-animations";


.hungary-1 {
  fill: #cd2a3d;
}

.hungary-2 {
  fill: #fff;
}

.hungary-3 {
  fill: #436f4c;
}

svg {
  #Layer_2 {
    #Hungary {
      #line-1 {
        animation: topToBottom 3.5s infinite linear;
      }

      #line-2,
      #line-17 {
        animation: topToBottom 2.5s infinite linear;
      }

      #line-3,
      #line-4,
      #line-8 {
        animation: topToBottom 2s infinite linear;
      }

      #line-5 {
        animation: topToBottom 4s infinite linear;
      }

      #line-6,
      #line-7 {
        animation: bottomToTop 3s infinite linear;
      }

      #line-9,
      #line-11 {
        animation: bottomToTop 5s infinite linear;
      }

      #line-10,
      #line-11,
      #line-12,
      #line-13 {
        animation: topToBottom 4s infinite linear;
      }

      #line-14,
      #line-15,
      #line-16 {
        animation: topToBottom 2.75s infinite linear;
      }
    }
  }
}
