@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "src/assets/scss/variables";

.schedule-item {
  background-color: $dark-blue;
  color: white;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  box-shadow: $base-shadow;

  &:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: $dark-blue;
    background: linear-gradient(
        0deg,
        rgba(0, 48, 73, 0.75) 0%,
        rgba(0, 48, 73, 0) 100%
    );
  }

  .flag {
    position: absolute;
    bottom: -20%;
    right: -35%;
    width: 100%;
    transform: rotate(-39deg);
  }

  .sprint-text {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: $f1-font;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    letter-spacing: 3px;
  }

  .base {
    position: relative;
    z-index: 1;

    .circuit-layout-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 215px;

      .circuit-layout-image {
        width: 50%;

        @include media-breakpoint-down(sm) {
          width: 75%;
        }
      }
    }

    h2 {
      font-weight: bold;
      font-size: 45px;
    }

    .date {
      font-size: 25px;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    z-index: 3;
    background-color: $dark-blue;
    transition: all 0.3s ease-out;

    .circuit-photo {
      width: 100%;
      height: 50%;
      object-fit: cover;
      -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0);
      transition: all 0.25s ease-out;
    }

    &:after {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: -30%;
      background: rgb(0, 48, 73);
      transition: all 0.2s ease-in;
      background: linear-gradient(
          130deg,
          rgba(255, 255, 255, 0) 35%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0) 60%
      );
    }

    .details-container {
      height: 48%;

      .weekend-name {
        font-weight: bold;
        font-size: 25px;
      }
    }
  }

  &:hover {
    .overlay {
      top: 0;

      .circuit-photo {
        -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
        transition-delay: 0.2s;
      }

      &:after {
        left: -15%;
        transition-delay: 0.15s;
      }
    }
  }
}
