@import "src/assets/scss/flag-animations";

.singapore-1 {
  fill: #ed2839;
}

.singapore-2 {
  fill: #fff;
}

.singapore-3 {
  fill: #e6e6e6;
}

.singapore-4 {
  fill: #f2f2f2;
}

svg {
  #Layer_2 {
    #Singapore {
      #line-1 {
        animation: topToBottom 3.5s infinite linear;
      }

      #line-2 {
        animation: topToBottom 2.5s infinite linear;
      }

      #line-3,
      #line-4,
      #line-8 {
        animation: topToBottom 2s infinite linear;
      }

      #line-5 {
        animation: topToBottom 4s infinite linear;
      }

      #line-6,
      #line-7 {
        animation: bottomToTop 3s infinite linear;
      }

      #line-9,
      #line-11 {
        animation: bottomToTop 5s infinite linear;
      }

      #line-10 {
        animation: topToBottom 4s infinite linear;
      }
    }
  }
}
