<div class="hero position-relative">
  <div class="background row justify-content-end m-0">
    <div class="col-12 col-lg-6 overflow-hidden h-100 p-0 position-relative">
      <img src="assets/images/hero-mercedes.png" alt="Mercedes" class="hero-image">
      <div class="white-gradient"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="pa-0 ma-0 col-12 col-lg-10 text-center text-lg-start">
        <h1>
          get informations about the <span class="text-primary-color">fastest</span> sport on the world.
        </h1>

        <h2>
          anywhere. anytime.
        </h2>
      </div>
    </div>
  </div>

  <img src="assets/images/dots-pattern.svg" alt="Dots pattern" class="dots-pattern">
</div>
