<div class="weekend mb-5" *appLoading="isLoading">
  <div *ngIf="weekendData">
    <app-banner [circuit]="weekendData.Circuit"></app-banner>

    <mat-tab-group preserveContent mat-align-tabs="center" class="tabs" selectedIndex="0">
      <mat-tab label="Free Practice 1">
        <ng-template matTabContent>
          <app-upcoming-session-display
            *ngIf="sessionsInTheFuture.includes(session.FP1); else fp1InPast"
            [sessionDate]="weekendData.FirstPractice"
          ></app-upcoming-session-display>

          <ng-template #fp1InPast>
            <app-session-results
              [round]="weekendData.Circuit.Location.country"
              [sessionDate]="weekendData.FirstPractice"
              [session]="session.FP1"
            ></app-session-results>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab label="Free Practice 2">
        <ng-template matTabContent>
          <app-upcoming-session-display
            *ngIf="sessionsInTheFuture.includes(session.FP2); else fp2InPast"
            [sessionDate]="weekendData.SecondPractice"
          ></app-upcoming-session-display>

          <ng-template #fp2InPast>
            <app-session-results
              [round]="weekendData.Circuit.Location.country"
              [sessionDate]="weekendData.SecondPractice"
              [session]="session.FP2"
            ></app-session-results>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="weekendData.ThirdPractice" label="Free Practice 3">
        <ng-template matTabContent>
          <app-upcoming-session-display
            *ngIf="sessionsInTheFuture.includes(session.FP3); else fp3InPast"
            [sessionDate]="weekendData.ThirdPractice"
          ></app-upcoming-session-display>

          <ng-template #fp3InPast>
            <app-session-results
              [round]="weekendData.Circuit.Location.country"
              [sessionDate]="weekendData.ThirdPractice"
              [session]="session.FP3"
            ></app-session-results>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab label="Qualifying">
        <ng-template matTabContent>
          <app-upcoming-session-display
            *ngIf="sessionsInTheFuture.includes(session.Q); else qInPast"
            [sessionDate]="weekendData.Qualifying"
          ></app-upcoming-session-display>

          <ng-template #qInPast>
            <app-session-results
              [round]="weekendData.Circuit.Location.country"
              [sessionDate]="weekendData.Qualifying"
              [session]="session.Q"
            ></app-session-results>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="weekendData.Sprint" label="Sprint">
        <ng-template matTabContent>
          <app-upcoming-session-display
            *ngIf="sessionsInTheFuture.includes(session.SPRINT); else sInPast"
            [sessionDate]="weekendData.Sprint"
          ></app-upcoming-session-display>

          <ng-template #sInPast>
            <app-session-results
              [round]="weekendData.Circuit.Location.country"
              [sessionDate]="weekendData.Sprint"
              [session]="session.SPRINT"
            ></app-session-results>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab label="Race">
        <ng-template matTabContent>
          <app-upcoming-session-display
            *ngIf="sessionsInTheFuture.includes(session.R); else rInPast"
            [sessionDate]="raceDate"
          ></app-upcoming-session-display>

          <ng-template #rInPast>
            <app-race-results
              [round]="sessionRound"
              [sessionDate]="raceDate"
            ></app-race-results>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab label="Circuit">
        <ng-template matTabContent>
          <app-circuit-infos [weekend]="weekendData"></app-circuit-infos>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
