<div class="weekend mb-5" *appLoading="isLoading">
  <div *ngIf="weekendData">
    <app-banner [circuit]="weekendData.Circuit"></app-banner>

    <mat-tab-group preserveContent mat-align-tabs="center" class="tabs" selectedIndex="0">
      <mat-tab label="Free Practice 1">
        <ng-template matTabContent>
          <app-session-results
            [round]="weekendData.Circuit.Location.country"
            [sessionDate]="weekendData.FirstPractice"
            [session]="session.FP1"
          ></app-session-results>
        </ng-template>
      </mat-tab>

      <mat-tab label="Free Practice 2">
        <ng-template matTabContent>
          FP2
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="weekendData.ThirdPractice" label="Free Practice 3">
        <ng-template matTabContent>
          FP3
        </ng-template>
      </mat-tab>

      <mat-tab label="Qualifying">
        <ng-template matTabContent>
          Q
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="weekendData.Sprint" label="Sprint">
        <ng-template matTabContent>
          Sprint
        </ng-template>
      </mat-tab>

      <mat-tab label="Race">
        <ng-template matTabContent>
          Race
        </ng-template>
      </mat-tab>

      <mat-tab label="Circuit">
        <ng-template matTabContent>
          <app-circuit-infos [weekend]="weekendData"></app-circuit-infos>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
