<div class="weekend mb-5" *appLoading="isLoading">
  <div *ngIf="weekendData">
    <app-banner [circuit]="weekendData.Circuit"></app-banner>

    <mat-tab-group mat-align-tabs="center" class="tabs" selectedIndex="5">
      <mat-tab label="Free Practice 1">
        FP1
      </mat-tab>

      <mat-tab label="Free Practice 2">
        FP2
      </mat-tab>

      <mat-tab *ngIf="weekendData.ThirdPractice" label="Free Practice 3">
        FP3
      </mat-tab>

      <mat-tab label="Qualifying">
        Q
      </mat-tab>

      <mat-tab *ngIf="weekendData.Sprint" label="Sprint">
        Sprint
      </mat-tab>

      <mat-tab label="Race">
        Race
      </mat-tab>

      <mat-tab label="Circuit">
        <app-circuit-infos [weekend]="weekendData"></app-circuit-infos>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
