@import "src/assets/scss/flag-animations";


.monaco-1 {
  fill: #ce1126;
}

.monaco-2 {
  fill: #fff;
}

.monaco-3 {
  fill: #e6e6e6;
}

.monaco-4 {
  fill: #f2f2f2;
}

.monaco-5 {
  fill: #b2041d;
}

.monaco-6 {
  fill: #ad021b;
}

svg {
  #Layer_2 {
    #Monaco {
      #line-1 {
        animation: topToBottom 3.5s infinite linear;
      }

      #line-2 {
        animation: topToBottom 2.5s infinite linear;
      }

      #line-3,
      #line-4,
      #line-8 {
        animation: topToBottom 2s infinite linear;
      }

      #line-5 {
        animation: topToBottom 4s infinite linear;
      }

      #line-6,
      #line-7 {
        animation: bottomToTop 3s infinite linear;
      }

      #line-9,
      #line-11 {
        animation: bottomToTop 5s infinite linear;
      }

      #line-10,
      #line-12 {
        animation: topToBottom 4s infinite linear;
      }
    }
  }
}
