@import "~bootstrap/scss/bootstrap";
@import "assets/scss/theming";
@import "assets/fonts/fonts";
@import "assets/scss/variables";
@import "assets/scss/mixins";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins;
}

.text-primary-color {
  color: $primary;
}
