@import "node_modules/flag-icon-css/sass/flag-icons";
@import "~bootstrap/scss/bootstrap";
@import "assets/scss/theming";
@import "assets/fonts/fonts";
@import "assets/scss/variables";
@import "assets/scss/mixins";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $poppins;
}

.text-primary-color {
  color: $primary;
}

.primary-button {
  $border-radius: 5px;

  font-family: $poppins;
  font-weight: 600;
  font-size: 25px;
  line-height: 49px;
  text-align: center;
  display: inline;
  padding: 0 25px;
  color: white;
  background-color: $primary;
  border: 2px solid $primary;
  box-sizing: border-box;
  border-radius: $border-radius;
  text-decoration: none;
  transition: all 0.2s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    background-color: white;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all 0.2s ease;
  }

  &:hover {
    color: $primary;

    &:before {
      width: 100%;
    }
  }
}

.result-container {
  padding-top: 70px;
}

.chart-note {
  color: gray;
  font-size: 13px;
}

.cursor-pointer {
  cursor: pointer;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.select-driver-name {
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}
