@import "src/assets/scss/flag-animations";

.mexico-1 {
  fill: #f2f2f2;
}

.mexico-2 {
  fill: #ce1127;
}

.mexico-3 {
  fill: #006847;
}

svg {
  #Layer_2 {
    #Mexico {
      #line-1,
      #line-21,
      #line-22 {
        animation: topToBottom 3.5s infinite linear;
      }

      #line-2,
      #line-19,
      #line-20 {
        animation: topToBottom 2.5s infinite linear;
      }

      #line-3,
      #line-4,
      #line-8 {
        animation: topToBottom 2s infinite linear;
      }

      #line-5,
      #line-17,
      #line-18,
      #line-23 {
        animation: topToBottom 4s infinite linear;
      }

      #line-6,
      #line-7 {
        animation: bottomToTop 3s infinite linear;
      }

      #line-9,
      #line-11,
      #line-24 {
        animation: bottomToTop 5s infinite linear;
      }

      #line-10,
      #line-11,
      #line-12,
      #line-13 {
        animation: topToBottom 4s infinite linear;
      }

      #line-14,
      #line-15,
      #line-16 {
        animation: topToBottom 2.75s infinite linear;
      }
    }
  }
}
