<svg
  id="e3d61888-7913-4ace-a41b-81e699b58e17"
  data-name="Réteg 1"
  viewBox="0 0 582.2201 364.6877"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect
    class="move-card-reverse-4-s"
    [style]="{
      fill: primary,
      animationDelay: delays.lineDelay1
    }"
    height="3"
    width="180"
    x="405.9784"
    y="201.6369"
  />
  <rect
    class="move-card-5-s"
    [style]="{
      fill: secondary,
      animationDelay: delays.lineDelay2
    }"
    height="3"
    width="180"
    x="420.9784"
    y="175.6369"
  />
  <rect
    class="move-card-reverse-5-s"
    [style]="{
      fill: primary,
      animationDelay: delays.lineDelay3
    }"
    height="4.6216"
    width="107.1345"
    x="486.497"
    y="251.4465"
  />
  <rect
    class="move-card-reverse-6-s"
    [style]="{
      fill: secondary,
      animationDelay: delays.lineDelay4
    }"
    height="4.4103"
    width="180"
    x="146.5185"
    y="282.3974"
  />
  <rect
    class="move-card-3-s"
    [style]="{
      fill: tertiary,
      animationDelay: delays.lineDelay5
    }"
    height="5.8205"
    width="261.7855"
    x="226.1706"
    y="141.8321"
  />
  <rect
    class="move-card-4-s"
    [style]="{
      fill: primary,
      animationDelay: delays.lineDelay6
    }"
    height="3"
    width="180"
    x="41.9784"
    y="263.6369"
  />
  <rect
    class="move-card-reverse-2-s"
    [style]="{
      fill: primary,
      animationDelay: delays.lineDelay7
    }"
    height="3"
    width="48.3628"
    x="214.685"
    y="95.7035"
  />
  <rect
    class="move-card-7-s"
    [style]="{
      fill: secondary,
      animationDelay: delays.lineDelay8
    }"
    height="5.8205"
    width="118.7606"
    x="-12.5206"
    y="126.4796"
  />
  <rect
    class="move-card-5-s"
    [style]="{
      fill: secondary,
      animationDelay: delays.lineDelay9
    }"
    height="3"
    width="180"
    x="146.9784"
    y="38.6369"
  />
</svg>
