<footer>
  <div class="container">
    <div class="row d-none d-md-flex justify-content-center">
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/alpha-tauri.png" alt="Alpha Tauri">

          <div class="overlay d-flex align-items-center justify-content-center">
            asd
          </div>
        </a>
      </div>
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/williams.png" alt="Williams">

          <div class="overlay d-flex align-items-center justify-content-center">
            asd
          </div>
        </a>
      </div>
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/red-bull.png" alt="Red Bull">

          <div class="overlay d-flex align-items-center justify-content-center">
            asd
          </div>
        </a>
      </div>
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/ferrari.png" alt="Ferrari">

          <div class="overlay d-flex align-items-center justify-content-center">
            asd
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
