<footer class="pb-2">
  <div class="container">
    <div class="row d-none d-md-flex justify-content-center">
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/alpha-tauri.png" alt="Alpha Tauri">

          <div class="overlay d-flex align-items-center justify-content-center">
            <fa-icon
              [icon]="faFacebook"
              size="5x"
              class="icon"
            ></fa-icon>
          </div>
        </a>
      </div>
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/williams.png" alt="Williams">

          <div class="overlay d-flex align-items-center justify-content-center">
            <fa-icon
              [icon]="faTwitter"
              size="5x"
              class="icon"
            ></fa-icon>
          </div>
        </a>
      </div>
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/red-bull.png" alt="Red Bull">

          <div class="overlay d-flex align-items-center justify-content-center">
            <fa-icon
              [icon]="faInstagram"
              size="5x"
              class="icon"
            ></fa-icon>
          </div>
        </a>
      </div>
      <div class="py-0 col-3 col-lg-2">
        <a
          class="footer-panel"
          href="#"
          target="_blank"
        >
          <img src="assets/images/footer/ferrari.png" alt="Ferrari">

          <div class="overlay d-flex align-items-center justify-content-center">
            <fa-icon
              [icon]="faYoutube"
              size="5x"
              class="icon"
            ></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container d-flex align-items-center justify-content-between">
      <img src="assets/logo-white.svg" alt="Logo" class="logo">

      <div>
        © 2003-2022 Formula One World Championship Limited
      </div>
    </div>
  </div>
</footer>
